.vscode/launch.json
.vscode/tasks.json
bin/Debug/net5.0/exam
bin/Debug/net5.0/exam.deps.json
bin/Debug/net5.0/exam.dll
bin/Debug/net5.0/exam.pdb
bin/Debug/net5.0/exam.runtimeconfig.dev.json
bin/Debug/net5.0/exam.runtimeconfig.json
bin/Debug/net5.0/ref/exam.dll
bin/Release/net5.0/win-x64/api-ms-win-core-console-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-console-l1-2-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-datetime-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-debug-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-errorhandling-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-file-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-file-l1-2-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-file-l2-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-handle-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-heap-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-interlocked-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-libraryloader-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-localization-l1-2-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-memory-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-namedpipe-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-processenvironment-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-processthreads-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-processthreads-l1-1-1.dll
bin/Release/net5.0/win-x64/api-ms-win-core-profile-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-rtlsupport-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-string-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-synch-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-synch-l1-2-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-sysinfo-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-timezone-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-core-util-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-crt-conio-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-crt-convert-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-crt-environment-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-crt-filesystem-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-crt-heap-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-crt-locale-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-crt-math-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-crt-multibyte-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-crt-private-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-crt-process-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-crt-runtime-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-crt-stdio-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-crt-string-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-crt-time-l1-1-0.dll
bin/Release/net5.0/win-x64/api-ms-win-crt-utility-l1-1-0.dll
bin/Release/net5.0/win-x64/clrcompression.dll
bin/Release/net5.0/win-x64/clretwrc.dll
bin/Release/net5.0/win-x64/clrjit.dll
bin/Release/net5.0/win-x64/coreclr.dll
bin/Release/net5.0/win-x64/createdump.exe
bin/Release/net5.0/win-x64/dbgshim.dll
bin/Release/net5.0/win-x64/exam.deps.json
bin/Release/net5.0/win-x64/exam.dll
bin/Release/net5.0/win-x64/exam.exe
bin/Release/net5.0/win-x64/exam.pdb
bin/Release/net5.0/win-x64/exam.runtimeconfig.dev.json
bin/Release/net5.0/win-x64/exam.runtimeconfig.json
bin/Release/net5.0/win-x64/hostfxr.dll
bin/Release/net5.0/win-x64/hostpolicy.dll
bin/Release/net5.0/win-x64/Microsoft.CSharp.dll
bin/Release/net5.0/win-x64/Microsoft.DiaSymReader.Native.amd64.dll
bin/Release/net5.0/win-x64/Microsoft.VisualBasic.Core.dll
bin/Release/net5.0/win-x64/Microsoft.VisualBasic.dll
bin/Release/net5.0/win-x64/Microsoft.Win32.Primitives.dll
bin/Release/net5.0/win-x64/Microsoft.Win32.Registry.dll
bin/Release/net5.0/win-x64/mscordaccore_amd64_amd64_5.0.1221.52207.dll
bin/Release/net5.0/win-x64/mscordaccore.dll
bin/Release/net5.0/win-x64/mscordbi.dll
bin/Release/net5.0/win-x64/mscorlib.dll
bin/Release/net5.0/win-x64/mscorrc.dll
bin/Release/net5.0/win-x64/netstandard.dll
bin/Release/net5.0/win-x64/System.AppContext.dll
bin/Release/net5.0/win-x64/System.Buffers.dll
bin/Release/net5.0/win-x64/System.Collections.Concurrent.dll
bin/Release/net5.0/win-x64/System.Collections.dll
bin/Release/net5.0/win-x64/System.Collections.Immutable.dll
bin/Release/net5.0/win-x64/System.Collections.NonGeneric.dll
bin/Release/net5.0/win-x64/System.Collections.Specialized.dll
bin/Release/net5.0/win-x64/System.ComponentModel.Annotations.dll
bin/Release/net5.0/win-x64/System.ComponentModel.DataAnnotations.dll
bin/Release/net5.0/win-x64/System.ComponentModel.dll
bin/Release/net5.0/win-x64/System.ComponentModel.EventBasedAsync.dll
bin/Release/net5.0/win-x64/System.ComponentModel.Primitives.dll
bin/Release/net5.0/win-x64/System.ComponentModel.TypeConverter.dll
bin/Release/net5.0/win-x64/System.Configuration.dll
bin/Release/net5.0/win-x64/System.Console.dll
bin/Release/net5.0/win-x64/System.Core.dll
bin/Release/net5.0/win-x64/System.Data.Common.dll
bin/Release/net5.0/win-x64/System.Data.DataSetExtensions.dll
bin/Release/net5.0/win-x64/System.Data.dll
bin/Release/net5.0/win-x64/System.Diagnostics.Contracts.dll
bin/Release/net5.0/win-x64/System.Diagnostics.Debug.dll
bin/Release/net5.0/win-x64/System.Diagnostics.DiagnosticSource.dll
bin/Release/net5.0/win-x64/System.Diagnostics.FileVersionInfo.dll
bin/Release/net5.0/win-x64/System.Diagnostics.Process.dll
bin/Release/net5.0/win-x64/System.Diagnostics.StackTrace.dll
bin/Release/net5.0/win-x64/System.Diagnostics.TextWriterTraceListener.dll
bin/Release/net5.0/win-x64/System.Diagnostics.Tools.dll
bin/Release/net5.0/win-x64/System.Diagnostics.TraceSource.dll
bin/Release/net5.0/win-x64/System.Diagnostics.Tracing.dll
bin/Release/net5.0/win-x64/System.dll
bin/Release/net5.0/win-x64/System.Drawing.dll
bin/Release/net5.0/win-x64/System.Drawing.Primitives.dll
bin/Release/net5.0/win-x64/System.Dynamic.Runtime.dll
bin/Release/net5.0/win-x64/System.Formats.Asn1.dll
bin/Release/net5.0/win-x64/System.Globalization.Calendars.dll
bin/Release/net5.0/win-x64/System.Globalization.dll
bin/Release/net5.0/win-x64/System.Globalization.Extensions.dll
bin/Release/net5.0/win-x64/System.IO.Compression.Brotli.dll
bin/Release/net5.0/win-x64/System.IO.Compression.dll
bin/Release/net5.0/win-x64/System.IO.Compression.FileSystem.dll
bin/Release/net5.0/win-x64/System.IO.Compression.ZipFile.dll
bin/Release/net5.0/win-x64/System.IO.dll
bin/Release/net5.0/win-x64/System.IO.FileSystem.AccessControl.dll
bin/Release/net5.0/win-x64/System.IO.FileSystem.dll
bin/Release/net5.0/win-x64/System.IO.FileSystem.DriveInfo.dll
bin/Release/net5.0/win-x64/System.IO.FileSystem.Primitives.dll
bin/Release/net5.0/win-x64/System.IO.FileSystem.Watcher.dll
bin/Release/net5.0/win-x64/System.IO.IsolatedStorage.dll
bin/Release/net5.0/win-x64/System.IO.MemoryMappedFiles.dll
bin/Release/net5.0/win-x64/System.IO.Pipes.AccessControl.dll
bin/Release/net5.0/win-x64/System.IO.Pipes.dll
bin/Release/net5.0/win-x64/System.IO.UnmanagedMemoryStream.dll
bin/Release/net5.0/win-x64/System.Linq.dll
bin/Release/net5.0/win-x64/System.Linq.Expressions.dll
bin/Release/net5.0/win-x64/System.Linq.Parallel.dll
bin/Release/net5.0/win-x64/System.Linq.Queryable.dll
bin/Release/net5.0/win-x64/System.Memory.dll
bin/Release/net5.0/win-x64/System.Net.dll
bin/Release/net5.0/win-x64/System.Net.Http.dll
bin/Release/net5.0/win-x64/System.Net.Http.Json.dll
bin/Release/net5.0/win-x64/System.Net.HttpListener.dll
bin/Release/net5.0/win-x64/System.Net.Mail.dll
bin/Release/net5.0/win-x64/System.Net.NameResolution.dll
bin/Release/net5.0/win-x64/System.Net.NetworkInformation.dll
bin/Release/net5.0/win-x64/System.Net.Ping.dll
bin/Release/net5.0/win-x64/System.Net.Primitives.dll
bin/Release/net5.0/win-x64/System.Net.Requests.dll
bin/Release/net5.0/win-x64/System.Net.Security.dll
bin/Release/net5.0/win-x64/System.Net.ServicePoint.dll
bin/Release/net5.0/win-x64/System.Net.Sockets.dll
bin/Release/net5.0/win-x64/System.Net.WebClient.dll
bin/Release/net5.0/win-x64/System.Net.WebHeaderCollection.dll
bin/Release/net5.0/win-x64/System.Net.WebProxy.dll
bin/Release/net5.0/win-x64/System.Net.WebSockets.Client.dll
bin/Release/net5.0/win-x64/System.Net.WebSockets.dll
bin/Release/net5.0/win-x64/System.Numerics.dll
bin/Release/net5.0/win-x64/System.Numerics.Vectors.dll
bin/Release/net5.0/win-x64/System.ObjectModel.dll
bin/Release/net5.0/win-x64/System.Private.CoreLib.dll
bin/Release/net5.0/win-x64/System.Private.DataContractSerialization.dll
bin/Release/net5.0/win-x64/System.Private.Uri.dll
bin/Release/net5.0/win-x64/System.Private.Xml.dll
bin/Release/net5.0/win-x64/System.Private.Xml.Linq.dll
bin/Release/net5.0/win-x64/System.Reflection.DispatchProxy.dll
bin/Release/net5.0/win-x64/System.Reflection.dll
bin/Release/net5.0/win-x64/System.Reflection.Emit.dll
bin/Release/net5.0/win-x64/System.Reflection.Emit.ILGeneration.dll
bin/Release/net5.0/win-x64/System.Reflection.Emit.Lightweight.dll
bin/Release/net5.0/win-x64/System.Reflection.Extensions.dll
bin/Release/net5.0/win-x64/System.Reflection.Metadata.dll
bin/Release/net5.0/win-x64/System.Reflection.Primitives.dll
bin/Release/net5.0/win-x64/System.Reflection.TypeExtensions.dll
bin/Release/net5.0/win-x64/System.Resources.Reader.dll
bin/Release/net5.0/win-x64/System.Resources.ResourceManager.dll
bin/Release/net5.0/win-x64/System.Resources.Writer.dll
bin/Release/net5.0/win-x64/System.Runtime.CompilerServices.Unsafe.dll
bin/Release/net5.0/win-x64/System.Runtime.CompilerServices.VisualC.dll
bin/Release/net5.0/win-x64/System.Runtime.dll
bin/Release/net5.0/win-x64/System.Runtime.Extensions.dll
bin/Release/net5.0/win-x64/System.Runtime.Handles.dll
bin/Release/net5.0/win-x64/System.Runtime.InteropServices.dll
bin/Release/net5.0/win-x64/System.Runtime.InteropServices.RuntimeInformation.dll
bin/Release/net5.0/win-x64/System.Runtime.Intrinsics.dll
bin/Release/net5.0/win-x64/System.Runtime.Loader.dll
bin/Release/net5.0/win-x64/System.Runtime.Numerics.dll
bin/Release/net5.0/win-x64/System.Runtime.Serialization.dll
bin/Release/net5.0/win-x64/System.Runtime.Serialization.Formatters.dll
bin/Release/net5.0/win-x64/System.Runtime.Serialization.Json.dll
bin/Release/net5.0/win-x64/System.Runtime.Serialization.Primitives.dll
bin/Release/net5.0/win-x64/System.Runtime.Serialization.Xml.dll
bin/Release/net5.0/win-x64/System.Security.AccessControl.dll
bin/Release/net5.0/win-x64/System.Security.Claims.dll
bin/Release/net5.0/win-x64/System.Security.Cryptography.Algorithms.dll
bin/Release/net5.0/win-x64/System.Security.Cryptography.Cng.dll
bin/Release/net5.0/win-x64/System.Security.Cryptography.Csp.dll
bin/Release/net5.0/win-x64/System.Security.Cryptography.Encoding.dll
bin/Release/net5.0/win-x64/System.Security.Cryptography.OpenSsl.dll
bin/Release/net5.0/win-x64/System.Security.Cryptography.Primitives.dll
bin/Release/net5.0/win-x64/System.Security.Cryptography.X509Certificates.dll
bin/Release/net5.0/win-x64/System.Security.dll
bin/Release/net5.0/win-x64/System.Security.Principal.dll
bin/Release/net5.0/win-x64/System.Security.Principal.Windows.dll
bin/Release/net5.0/win-x64/System.Security.SecureString.dll
bin/Release/net5.0/win-x64/System.ServiceModel.Web.dll
bin/Release/net5.0/win-x64/System.ServiceProcess.dll
bin/Release/net5.0/win-x64/System.Text.Encoding.CodePages.dll
bin/Release/net5.0/win-x64/System.Text.Encoding.dll
bin/Release/net5.0/win-x64/System.Text.Encoding.Extensions.dll
bin/Release/net5.0/win-x64/System.Text.Encodings.Web.dll
bin/Release/net5.0/win-x64/System.Text.Json.dll
bin/Release/net5.0/win-x64/System.Text.RegularExpressions.dll
bin/Release/net5.0/win-x64/System.Threading.Channels.dll
bin/Release/net5.0/win-x64/System.Threading.dll
bin/Release/net5.0/win-x64/System.Threading.Overlapped.dll
bin/Release/net5.0/win-x64/System.Threading.Tasks.Dataflow.dll
bin/Release/net5.0/win-x64/System.Threading.Tasks.dll
bin/Release/net5.0/win-x64/System.Threading.Tasks.Extensions.dll
bin/Release/net5.0/win-x64/System.Threading.Tasks.Parallel.dll
bin/Release/net5.0/win-x64/System.Threading.Thread.dll
bin/Release/net5.0/win-x64/System.Threading.ThreadPool.dll
bin/Release/net5.0/win-x64/System.Threading.Timer.dll
bin/Release/net5.0/win-x64/System.Transactions.dll
bin/Release/net5.0/win-x64/System.Transactions.Local.dll
bin/Release/net5.0/win-x64/System.ValueTuple.dll
bin/Release/net5.0/win-x64/System.Web.dll
bin/Release/net5.0/win-x64/System.Web.HttpUtility.dll
bin/Release/net5.0/win-x64/System.Windows.dll
bin/Release/net5.0/win-x64/System.Xml.dll
bin/Release/net5.0/win-x64/System.Xml.Linq.dll
bin/Release/net5.0/win-x64/System.Xml.ReaderWriter.dll
bin/Release/net5.0/win-x64/System.Xml.Serialization.dll
bin/Release/net5.0/win-x64/System.Xml.XDocument.dll
bin/Release/net5.0/win-x64/System.Xml.XmlDocument.dll
bin/Release/net5.0/win-x64/System.Xml.XmlSerializer.dll
bin/Release/net5.0/win-x64/System.Xml.XPath.dll
bin/Release/net5.0/win-x64/System.Xml.XPath.XDocument.dll
bin/Release/net5.0/win-x64/ucrtbase.dll
bin/Release/net5.0/win-x64/WindowsBase.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-console-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-console-l1-2-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-datetime-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-debug-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-errorhandling-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-file-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-file-l1-2-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-file-l2-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-handle-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-heap-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-interlocked-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-libraryloader-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-localization-l1-2-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-memory-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-namedpipe-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-processenvironment-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-processthreads-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-processthreads-l1-1-1.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-profile-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-rtlsupport-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-string-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-synch-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-synch-l1-2-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-sysinfo-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-timezone-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-core-util-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-crt-conio-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-crt-convert-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-crt-environment-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-crt-filesystem-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-crt-heap-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-crt-locale-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-crt-math-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-crt-multibyte-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-crt-private-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-crt-process-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-crt-runtime-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-crt-stdio-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-crt-string-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-crt-time-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/api-ms-win-crt-utility-l1-1-0.dll
bin/Release/net5.0/win-x64/publish/clrcompression.dll
bin/Release/net5.0/win-x64/publish/clretwrc.dll
bin/Release/net5.0/win-x64/publish/clrjit.dll
bin/Release/net5.0/win-x64/publish/coreclr.dll
bin/Release/net5.0/win-x64/publish/createdump.exe
bin/Release/net5.0/win-x64/publish/dbgshim.dll
bin/Release/net5.0/win-x64/publish/exam.deps.json
bin/Release/net5.0/win-x64/publish/exam.dll
bin/Release/net5.0/win-x64/publish/exam.exe
bin/Release/net5.0/win-x64/publish/exam.pdb
bin/Release/net5.0/win-x64/publish/exam.runtimeconfig.json
bin/Release/net5.0/win-x64/publish/hostfxr.dll
bin/Release/net5.0/win-x64/publish/hostpolicy.dll
bin/Release/net5.0/win-x64/publish/Microsoft.CSharp.dll
bin/Release/net5.0/win-x64/publish/Microsoft.DiaSymReader.Native.amd64.dll
bin/Release/net5.0/win-x64/publish/Microsoft.VisualBasic.Core.dll
bin/Release/net5.0/win-x64/publish/Microsoft.VisualBasic.dll
bin/Release/net5.0/win-x64/publish/Microsoft.Win32.Primitives.dll
bin/Release/net5.0/win-x64/publish/Microsoft.Win32.Registry.dll
bin/Release/net5.0/win-x64/publish/mscordaccore_amd64_amd64_5.0.1221.52207.dll
bin/Release/net5.0/win-x64/publish/mscordaccore.dll
bin/Release/net5.0/win-x64/publish/mscordbi.dll
bin/Release/net5.0/win-x64/publish/mscorlib.dll
bin/Release/net5.0/win-x64/publish/mscorrc.dll
bin/Release/net5.0/win-x64/publish/netstandard.dll
bin/Release/net5.0/win-x64/publish/System.AppContext.dll
bin/Release/net5.0/win-x64/publish/System.Buffers.dll
bin/Release/net5.0/win-x64/publish/System.Collections.Concurrent.dll
bin/Release/net5.0/win-x64/publish/System.Collections.dll
bin/Release/net5.0/win-x64/publish/System.Collections.Immutable.dll
bin/Release/net5.0/win-x64/publish/System.Collections.NonGeneric.dll
bin/Release/net5.0/win-x64/publish/System.Collections.Specialized.dll
bin/Release/net5.0/win-x64/publish/System.ComponentModel.Annotations.dll
bin/Release/net5.0/win-x64/publish/System.ComponentModel.DataAnnotations.dll
bin/Release/net5.0/win-x64/publish/System.ComponentModel.dll
bin/Release/net5.0/win-x64/publish/System.ComponentModel.EventBasedAsync.dll
bin/Release/net5.0/win-x64/publish/System.ComponentModel.Primitives.dll
bin/Release/net5.0/win-x64/publish/System.ComponentModel.TypeConverter.dll
bin/Release/net5.0/win-x64/publish/System.Configuration.dll
bin/Release/net5.0/win-x64/publish/System.Console.dll
bin/Release/net5.0/win-x64/publish/System.Core.dll
bin/Release/net5.0/win-x64/publish/System.Data.Common.dll
bin/Release/net5.0/win-x64/publish/System.Data.DataSetExtensions.dll
bin/Release/net5.0/win-x64/publish/System.Data.dll
bin/Release/net5.0/win-x64/publish/System.Diagnostics.Contracts.dll
bin/Release/net5.0/win-x64/publish/System.Diagnostics.Debug.dll
bin/Release/net5.0/win-x64/publish/System.Diagnostics.DiagnosticSource.dll
bin/Release/net5.0/win-x64/publish/System.Diagnostics.FileVersionInfo.dll
bin/Release/net5.0/win-x64/publish/System.Diagnostics.Process.dll
bin/Release/net5.0/win-x64/publish/System.Diagnostics.StackTrace.dll
bin/Release/net5.0/win-x64/publish/System.Diagnostics.TextWriterTraceListener.dll
bin/Release/net5.0/win-x64/publish/System.Diagnostics.Tools.dll
bin/Release/net5.0/win-x64/publish/System.Diagnostics.TraceSource.dll
bin/Release/net5.0/win-x64/publish/System.Diagnostics.Tracing.dll
bin/Release/net5.0/win-x64/publish/System.dll
bin/Release/net5.0/win-x64/publish/System.Drawing.dll
bin/Release/net5.0/win-x64/publish/System.Drawing.Primitives.dll
bin/Release/net5.0/win-x64/publish/System.Dynamic.Runtime.dll
bin/Release/net5.0/win-x64/publish/System.Formats.Asn1.dll
bin/Release/net5.0/win-x64/publish/System.Globalization.Calendars.dll
bin/Release/net5.0/win-x64/publish/System.Globalization.dll
bin/Release/net5.0/win-x64/publish/System.Globalization.Extensions.dll
bin/Release/net5.0/win-x64/publish/System.IO.Compression.Brotli.dll
bin/Release/net5.0/win-x64/publish/System.IO.Compression.dll
bin/Release/net5.0/win-x64/publish/System.IO.Compression.FileSystem.dll
bin/Release/net5.0/win-x64/publish/System.IO.Compression.ZipFile.dll
bin/Release/net5.0/win-x64/publish/System.IO.dll
bin/Release/net5.0/win-x64/publish/System.IO.FileSystem.AccessControl.dll
bin/Release/net5.0/win-x64/publish/System.IO.FileSystem.dll
bin/Release/net5.0/win-x64/publish/System.IO.FileSystem.DriveInfo.dll
bin/Release/net5.0/win-x64/publish/System.IO.FileSystem.Primitives.dll
bin/Release/net5.0/win-x64/publish/System.IO.FileSystem.Watcher.dll
bin/Release/net5.0/win-x64/publish/System.IO.IsolatedStorage.dll
bin/Release/net5.0/win-x64/publish/System.IO.MemoryMappedFiles.dll
bin/Release/net5.0/win-x64/publish/System.IO.Pipes.AccessControl.dll
bin/Release/net5.0/win-x64/publish/System.IO.Pipes.dll
bin/Release/net5.0/win-x64/publish/System.IO.UnmanagedMemoryStream.dll
bin/Release/net5.0/win-x64/publish/System.Linq.dll
bin/Release/net5.0/win-x64/publish/System.Linq.Expressions.dll
bin/Release/net5.0/win-x64/publish/System.Linq.Parallel.dll
bin/Release/net5.0/win-x64/publish/System.Linq.Queryable.dll
bin/Release/net5.0/win-x64/publish/System.Memory.dll
bin/Release/net5.0/win-x64/publish/System.Net.dll
bin/Release/net5.0/win-x64/publish/System.Net.Http.dll
bin/Release/net5.0/win-x64/publish/System.Net.Http.Json.dll
bin/Release/net5.0/win-x64/publish/System.Net.HttpListener.dll
bin/Release/net5.0/win-x64/publish/System.Net.Mail.dll
bin/Release/net5.0/win-x64/publish/System.Net.NameResolution.dll
bin/Release/net5.0/win-x64/publish/System.Net.NetworkInformation.dll
bin/Release/net5.0/win-x64/publish/System.Net.Ping.dll
bin/Release/net5.0/win-x64/publish/System.Net.Primitives.dll
bin/Release/net5.0/win-x64/publish/System.Net.Requests.dll
bin/Release/net5.0/win-x64/publish/System.Net.Security.dll
bin/Release/net5.0/win-x64/publish/System.Net.ServicePoint.dll
bin/Release/net5.0/win-x64/publish/System.Net.Sockets.dll
bin/Release/net5.0/win-x64/publish/System.Net.WebClient.dll
bin/Release/net5.0/win-x64/publish/System.Net.WebHeaderCollection.dll
bin/Release/net5.0/win-x64/publish/System.Net.WebProxy.dll
bin/Release/net5.0/win-x64/publish/System.Net.WebSockets.Client.dll
bin/Release/net5.0/win-x64/publish/System.Net.WebSockets.dll
bin/Release/net5.0/win-x64/publish/System.Numerics.dll
bin/Release/net5.0/win-x64/publish/System.Numerics.Vectors.dll
bin/Release/net5.0/win-x64/publish/System.ObjectModel.dll
bin/Release/net5.0/win-x64/publish/System.Private.CoreLib.dll
bin/Release/net5.0/win-x64/publish/System.Private.DataContractSerialization.dll
bin/Release/net5.0/win-x64/publish/System.Private.Uri.dll
bin/Release/net5.0/win-x64/publish/System.Private.Xml.dll
bin/Release/net5.0/win-x64/publish/System.Private.Xml.Linq.dll
bin/Release/net5.0/win-x64/publish/System.Reflection.DispatchProxy.dll
bin/Release/net5.0/win-x64/publish/System.Reflection.dll
bin/Release/net5.0/win-x64/publish/System.Reflection.Emit.dll
bin/Release/net5.0/win-x64/publish/System.Reflection.Emit.ILGeneration.dll
bin/Release/net5.0/win-x64/publish/System.Reflection.Emit.Lightweight.dll
bin/Release/net5.0/win-x64/publish/System.Reflection.Extensions.dll
bin/Release/net5.0/win-x64/publish/System.Reflection.Metadata.dll
bin/Release/net5.0/win-x64/publish/System.Reflection.Primitives.dll
bin/Release/net5.0/win-x64/publish/System.Reflection.TypeExtensions.dll
bin/Release/net5.0/win-x64/publish/System.Resources.Reader.dll
bin/Release/net5.0/win-x64/publish/System.Resources.ResourceManager.dll
bin/Release/net5.0/win-x64/publish/System.Resources.Writer.dll
bin/Release/net5.0/win-x64/publish/System.Runtime.CompilerServices.Unsafe.dll
bin/Release/net5.0/win-x64/publish/System.Runtime.CompilerServices.VisualC.dll
bin/Release/net5.0/win-x64/publish/System.Runtime.dll
bin/Release/net5.0/win-x64/publish/System.Runtime.Extensions.dll
bin/Release/net5.0/win-x64/publish/System.Runtime.Handles.dll
bin/Release/net5.0/win-x64/publish/System.Runtime.InteropServices.dll
bin/Release/net5.0/win-x64/publish/System.Runtime.InteropServices.RuntimeInformation.dll
bin/Release/net5.0/win-x64/publish/System.Runtime.Intrinsics.dll
bin/Release/net5.0/win-x64/publish/System.Runtime.Loader.dll
bin/Release/net5.0/win-x64/publish/System.Runtime.Numerics.dll
bin/Release/net5.0/win-x64/publish/System.Runtime.Serialization.dll
bin/Release/net5.0/win-x64/publish/System.Runtime.Serialization.Formatters.dll
bin/Release/net5.0/win-x64/publish/System.Runtime.Serialization.Json.dll
bin/Release/net5.0/win-x64/publish/System.Runtime.Serialization.Primitives.dll
bin/Release/net5.0/win-x64/publish/System.Runtime.Serialization.Xml.dll
bin/Release/net5.0/win-x64/publish/System.Security.AccessControl.dll
bin/Release/net5.0/win-x64/publish/System.Security.Claims.dll
bin/Release/net5.0/win-x64/publish/System.Security.Cryptography.Algorithms.dll
bin/Release/net5.0/win-x64/publish/System.Security.Cryptography.Cng.dll
bin/Release/net5.0/win-x64/publish/System.Security.Cryptography.Csp.dll
bin/Release/net5.0/win-x64/publish/System.Security.Cryptography.Encoding.dll
bin/Release/net5.0/win-x64/publish/System.Security.Cryptography.OpenSsl.dll
bin/Release/net5.0/win-x64/publish/System.Security.Cryptography.Primitives.dll
bin/Release/net5.0/win-x64/publish/System.Security.Cryptography.X509Certificates.dll
bin/Release/net5.0/win-x64/publish/System.Security.dll
bin/Release/net5.0/win-x64/publish/System.Security.Principal.dll
bin/Release/net5.0/win-x64/publish/System.Security.Principal.Windows.dll
bin/Release/net5.0/win-x64/publish/System.Security.SecureString.dll
bin/Release/net5.0/win-x64/publish/System.ServiceModel.Web.dll
bin/Release/net5.0/win-x64/publish/System.ServiceProcess.dll
bin/Release/net5.0/win-x64/publish/System.Text.Encoding.CodePages.dll
bin/Release/net5.0/win-x64/publish/System.Text.Encoding.dll
bin/Release/net5.0/win-x64/publish/System.Text.Encoding.Extensions.dll
bin/Release/net5.0/win-x64/publish/System.Text.Encodings.Web.dll
bin/Release/net5.0/win-x64/publish/System.Text.Json.dll
bin/Release/net5.0/win-x64/publish/System.Text.RegularExpressions.dll
bin/Release/net5.0/win-x64/publish/System.Threading.Channels.dll
bin/Release/net5.0/win-x64/publish/System.Threading.dll
bin/Release/net5.0/win-x64/publish/System.Threading.Overlapped.dll
bin/Release/net5.0/win-x64/publish/System.Threading.Tasks.Dataflow.dll
bin/Release/net5.0/win-x64/publish/System.Threading.Tasks.dll
bin/Release/net5.0/win-x64/publish/System.Threading.Tasks.Extensions.dll
bin/Release/net5.0/win-x64/publish/System.Threading.Tasks.Parallel.dll
bin/Release/net5.0/win-x64/publish/System.Threading.Thread.dll
bin/Release/net5.0/win-x64/publish/System.Threading.ThreadPool.dll
bin/Release/net5.0/win-x64/publish/System.Threading.Timer.dll
bin/Release/net5.0/win-x64/publish/System.Transactions.dll
bin/Release/net5.0/win-x64/publish/System.Transactions.Local.dll
bin/Release/net5.0/win-x64/publish/System.ValueTuple.dll
bin/Release/net5.0/win-x64/publish/System.Web.dll
bin/Release/net5.0/win-x64/publish/System.Web.HttpUtility.dll
bin/Release/net5.0/win-x64/publish/System.Windows.dll
bin/Release/net5.0/win-x64/publish/System.Xml.dll
bin/Release/net5.0/win-x64/publish/System.Xml.Linq.dll
bin/Release/net5.0/win-x64/publish/System.Xml.ReaderWriter.dll
bin/Release/net5.0/win-x64/publish/System.Xml.Serialization.dll
bin/Release/net5.0/win-x64/publish/System.Xml.XDocument.dll
bin/Release/net5.0/win-x64/publish/System.Xml.XmlDocument.dll
bin/Release/net5.0/win-x64/publish/System.Xml.XmlSerializer.dll
bin/Release/net5.0/win-x64/publish/System.Xml.XPath.dll
bin/Release/net5.0/win-x64/publish/System.Xml.XPath.XDocument.dll
bin/Release/net5.0/win-x64/publish/ucrtbase.dll
bin/Release/net5.0/win-x64/publish/WindowsBase.dll
bin/Release/net5.0/win-x64/ref/exam.dll
obj/exam.csproj.nuget.dgspec.json
obj/exam.csproj.nuget.g.props
obj/exam.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost
obj/Debug/net5.0/exam.AssemblyInfo.cs
obj/Debug/net5.0/exam.AssemblyInfoInputs.cache
obj/Debug/net5.0/exam.assets.cache
obj/Debug/net5.0/exam.csproj.AssemblyReference.cache
obj/Debug/net5.0/exam.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/exam.csproj.FileListAbsolute.txt
obj/Debug/net5.0/exam.dll
obj/Debug/net5.0/exam.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/exam.genruntimeconfig.cache
obj/Debug/net5.0/exam.pdb
obj/Debug/net5.0/ref/exam.dll
obj/Release/net5.0/win-x64/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Release/net5.0/win-x64/apphost.exe
obj/Release/net5.0/win-x64/exam.AssemblyInfo.cs
obj/Release/net5.0/win-x64/exam.AssemblyInfoInputs.cache
obj/Release/net5.0/win-x64/exam.assets.cache
obj/Release/net5.0/win-x64/exam.csproj.AssemblyReference.cache
obj/Release/net5.0/win-x64/exam.csproj.CopyComplete
obj/Release/net5.0/win-x64/exam.csproj.CoreCompileInputs.cache
obj/Release/net5.0/win-x64/exam.csproj.FileListAbsolute.txt
obj/Release/net5.0/win-x64/exam.dll
obj/Release/net5.0/win-x64/exam.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net5.0/win-x64/exam.genruntimeconfig.cache
obj/Release/net5.0/win-x64/exam.pdb
obj/Release/net5.0/win-x64/PublishOutputs.12a56a24c4.txt
obj/Release/net5.0/win-x64/ref/exam.dll
